* {
  box-sizing: border-box;
}

/* Header========================== */

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #F3F3F3;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

.nav-header {
  display: flex;
  align-items: center;
  background: #F3F3F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 90px;
  width: 100%;
  padding: 30px 25px; 
}

.nav-bar {
  font-size: 1.5rem;
  color: hsl(0, 0%, 0%);
  background: transparent;
  border-color: transparent;
  margin-left: auto;
  cursor: pointer;
  /* transition: all 0.3s linear; */
}

.nav-bar:hover {
  color: hsl(43, 12%, 89%);
  transform: rotate(90deg);
}

.nav-icon {
  height: 60px;
  margin-right: 7px;
}

.bar-links  {
  list-style: none;
  margin-top: 20px;
  /* float: right; */
}

.bar-links a {
  margin-left: 0px; 
  color: hsl(273, 6%, 32%);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 0rem;
  /* transition: all 0.3s linear; */
}

.bar-links a:hover {
  background: hsl(43, 12%, 89%);
  padding-left: 1.0rem;
}

/* Main=========================== */

.intro {
  position: relative;
}

.intro {
  display: grid;
  width: min-content;
  margin: 3.7% auto;
  /* margin: 3rem auto; */
  grid-column-gap: 1em;
  letter-spacing: 0.1rem;
  min-width: 600px;
  grid-template-areas: 
      "title img"
      "words img";
  grid-template-columns: min-content max-content;
}

.main-photo {
  grid-area: img;
  /* margin-top: 40px; */
  min-width: 250px;
}

.main-words > h4 {
  grid-area: words;
  font-weight: 100;
  font-size: 1rem;
  min-width: 250px;
}

.main-words > h2 {
  grid-area: title;
  font-size: 2rem;
  min-width: 350px;
}

.main-words {
  font-size: 1rem;
  font-family: Inter, sans-serif;
}
.main-photo {
  display: flex;
}

.my-projects {
  /* display: block;
  justify-content: center; */
  width: 100%;
  text-align: center;
  margin-top: 100px;
  height: fit-content;
  padding-bottom: 100px;
  background-color: hsl(43, 12%, 89%);
}

.my-projects-title {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 25px;
  letter-spacing: 0.1rem;
}

.all-projects {
  display: grid;
  /* automatically resizes dependingon screen size */
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  max-width: 1000px;
  margin: 0 auto
}

.project-item {
  overflow: hidden;
}

.project-UI {
  width: 100%;
  height: 100%;
  min-width: 300px;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 
    transform 1s;
}

.project-UI:hover {
  transform: scale(1.1);
}

/* Footer ===========================*/

.icon-links {
  position: fixed;
  bottom: 0px;
  left: 0;
  display: flex;
  padding: 1rem 0.5rem;
  list-style: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width:100%;
}

.icon-links a {
  color: hsl(273, 6%, 32%);
  display: flex;
  font-size: 1.5rem;
  padding: 0rem 0.3rem;
}

.icon-links a:hover {
  color: hsl(45, 2%, 54%);
}


/* .Body {
  display: flex;
  bottom: 50px;
  right: 50px;
} */

/* .links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.links {
  height: 10rem;
} */
